.Breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.Item {
    display: flex;
    align-items: center;
}

.Link {
    color: #71717A;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.Active {
    color: #18181B;
    font-size: 14px;
    font-weight: 400;
}

.Separator {
    margin: 0 10px;
}

.Separator svg {
    width: 24px;
    height: 24px;
    fill: #71717A;
}